.virtunus__navigation {
    width: 454px;
    background: #f2f1f6;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    padding: 80px 34px 0px 66px;

    ul {

        li {
            list-style: none;

            a {
                font-size: 15px;
                color: #111111;
                text-decoration: none;
                display: block;
                padding: 10px 0;

                span {
                    float: right;
                    color: #adabbb;
                }

                i {
                    font-size: 17px;
                    color: #adabbb;
                    margin-right: 13px;
                
                }
            
            }
        }
    }
}